shipstarter-app {
  display: block;
}

shipstarter-content .aui-page-panel {
  border-top: none;
  margin-top: 0;
}

.shipstarter-dropdown-title {
  color: #707070;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.aui-button.danger {
  background-color: #d04437;
  border-color: #b23b30;
  color: #fff;
}
