.shipstarter-project-filter {
    background-color: #fff;
    margin-bottom: 14px;
    margin-top: 14px;
    overflow: hidden;
    text-align: left;
    width: 200px;
}

.shipstarter-project-search {
    float: right;
    margin: 14px 0;

    input {
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: 0;
        font-size: 14px;
        margin-right: 12px;
        padding: 6px;
        width: 454px;
    }
}