<html>
<head>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.1/css/aui.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/shipment-order-converter.css'}}" media="all">
    <meta name="issue-key" content="{{issueKey}}">
</head>
<body>
<div class="shipment-order-converter-container">
    <p>
        If you want others to help ship this during 20% time you can convert it to a shipstarter project!
    </p>
    <p>
        <button class="aui-button shipment-order-converter-button">Lets find more people!</button>
    </p>
</div>
<script src="{{furl '/js/shipment-order-converter.js'}}"></script>
<script>
var ACPT = '{{signed_request}}';
</script>
<script src="{{hostScriptUrl}}"></script>
</body>
</html>